dash==2.18.2
dash_core_components==2.0.0
dash_html_components==2.0.0
dash_bootstrap_components==1.4.2
Flask==2.2.3
numpy==1.24.2
pandas==1.5.3
plotly==5.18
Werkzeug==2.2.2
gunicorn
dash_daq==0.5.0
dash_ag_grid==31.0
dash_breakpoints==0.1.0