dash==4.1.0
dash_core_components
dash_html_components
dash_bootstrap_components
Flask
numpy==2.5.0
pandas==3.0.3
plotly==6.9.0
Werkzeug
gunicorn
dash_daq
dash_ag_grid
dash_breakpoints
dash_leaflet
dash_extensions
fastparquet