
.body {
    background-color: rgb(40,40,45);
    margin-left: 0px;
    margin-right: 0px;
}

.filter_zone {
    width: 95%;
    height: 20vmin;
    margin-left: 10px;
    font-family: 'Helvetica Neue', sans-serif;
}
.top_zone {
    font-family: 'Helvetica Neue', sans-serif;
}

.titlebox {
    font-family: 'Helvetica Neue', sans-serif;
    width: 90%;
    margin-top: 2%;
    margin-left: 2%;
    text-align: center;
}

.input_box1 {
    font-size: 12px;
    color: black;
    width: 100%;
    margin-top: 2%;
}


.card-title{
    font-size: 14px;
    font-weight: bold;
    line-height: 13px;
    text-align: justify;
}
.card-text{
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
}

.ag-theme-quartz-dark {
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(161, 28, 15);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}

.ag-theme-quartz {
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
    --ag-header-column-resize-handle-color: rgb(161, 28, 15);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}

.slider_zone {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: white;

}

.graph-with-slider {
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    color: white;
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #f1f1f1;
    padding: 0px;
    overflow-x: hidden;
}

.sidebar a {
    display: block;
    color: #000;
    padding: 0px;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
}


/* Charts */
.plot {
    width: 100%;
    height: 500px;
    margin-bottom: 20px;
}