
.body {
  background-color: rgb(40,40,45);
  margin: 0;
  padding: 0;
}

.body_light {
    background-color: rgb(248, 249, 250);
    margin-left: 0px;
    margin-right: 0px;
}

.margins {
  background-color: rgb(40,40,45);
}

.input-box {
  font-size: 12px;
  color: rgb(40,40,45);
  width: 100%;
  margin-top: 2%;
}

.title-box {
    font-family: 'Helvetica Neue', sans-serif;
    width: 90%;
    margin-top: 1%;
    margin-left: 1%;
    text-align: center;
}

.top-zone {
  margin-left: 2%;
}

#year-slider-club .rc-slider-track {
  background-color: rgb(11, 95, 215);
}

#year-slider-club .rc-slider-handle {
  background-color: rgb(11, 95, 215);
  border-color: rgb(11, 95, 215);
}

#year-slider-club  .rc-slider-dot-active {
  border-color: rgb(11, 95, 215);
}

#year-slider-club .rc-slider-handle-dragging {
  box-shadow: 0px 0px 0px 2px rgb(0, 45, 165);
}

.card-title {
  font-size: 0.8rem;
  font-weight: bold;
  line-height: 0rem;
  text-align: justify;
}

.card-text{
  font-size: 0.8rem;
  line-height: 1rem;
  text-align: justify;
}

 .slider_zone {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 16px;
  color: white;
}

/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 0px;
  overflow-x: hidden;
}

.sidebar a {
  display: block;
  color: #000;
  padding: 0px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Content */
.boutons {
    text-align: center;
}

.top_5 {
  position: relative;
  display: inline-block;
  font-family: "Helvetica Neue", sans-serif;
  backgroundColor: rgb(80, 80, 90);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.ag-theme-quartz-dark {
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.05);
    --ag-header-column-resize-handle-color: rgb(161, 28, 15);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}

.ag-theme-quartz {
    --ag-odd-row-background-color: rgb(249, 250, 251);
    --ag-header-column-resize-handle-color: rgb(161, 28, 15);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}

/* Charts */
.plot {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
}