
.body {
    background-color: rgb(40,40,45);
    margin: 0;
    padding: 0;
    font-size: 12px;
}

.body_light {
    background-color: rgb(248, 249, 250);
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px;
}

.title-box {
  float: left;
  color: rgb(40,40,45);
  font-family: 'Helvetica Neue', sans-serif;
  width: 90%;
  margin-top: 2%;
  margin-left: 2%;
  text-align: center;
}

.bool_switch {
    color: white;
    text-align: center;
}

.bool_switch_light {
    color: rgb(40,40,45);
    text-align: center;
}

#year-slider .rc-slider-track {
  background-color: rgb(240, 173, 78);
}

#year-slider .rc-slider-handle {
  background-color: rgb(240, 173, 78);
  border-color: rgb(240, 173, 78);
}

#year-slider  .rc-slider-dot-active {
  border-color: rgb(240, 173, 78);
}

#year-slider .rc-slider-handle-dragging {
  box-shadow: 0px 0px 0px 2px rgb(240, 173, 78);
}


.input-box {
  font-size: 12px;
  color: rgb(40,40,45);
  width: 100%;
  margin-top: 1%;
}

.boutons {
  text-align: center;
  font-size: 12px;
}

.slider_zone {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
  color: white;
}

.date-pick{
  font-family: 'Helvetica Neue', sans-serif;
  width: 100%;
  font-size: inherit;
  text-align: center;
  align-self: center;
  height: 18px;
  margin-top: 1%;
}

.DateInput_input {
  font-size: inherit;  /*or whatever size you would like to have*/
   Height: 20px;
}


/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #f1f1f1;
  padding: 0px;
  overflow-x: hidden;
}

.sidebar a {
  display: block;
  color: #000;
  padding: 0px;
  text-decoration: none;
}

.sidebar a:hover {
  background-color: #ddd;
}

/* Content */

.ag-theme-quartz-dark {
    --ag-odd-row-background-color: rgb(0, 0, 0, 0.05);
    --ag-header-column-resize-handle-color: rgb(240, 173, 78);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}

.ag-theme-quartz {
    --ag-odd-row-background-color: rgb(249, 250, 251);
    --ag-header-column-resize-handle-color: rgb(240, 173, 78);

    --ag-font-size: 12px;
    --ag-font-family: 'Helvetica Neue',sans-serif;
}